#main{
    height: 90vh;
}

button{
    width: 50px;
    height: 50px;
}

.characters{
    width: 100px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#backButton, #skipButton{
    height: 25px;
}

img{
    display: block;
    margin: auto;
    height: 50vh;
}

#small{
    height: 20vh;
}

#text{
    display: flex;
    justify-content: center;
    align-items: center;
}

#dialogueBox{
    font-family: arial;
    background-color: white;
    width: 50vw;
    padding: 10px;
    margin: 50px 0;
    border: solid black 2px;
    border-radius: 5px;
}

#nextButton{
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

#skipButton{
    display: block;
    margin: auto;
}

.options{
    width: 90vw;
}

#options{
    padding: 20px;
    display: grid;
    grid-gap: 10px;
    justify-items: center;
}